<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>关于</li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
        <%- markdown(multiline(function () {
/*
### 关于
社区目前由 [@penglyu](http://sditer.com/user/penglyu) 在维护，有问题请联系：sditer@126.com

*/
        })) %>
      </div>
    </div>
  </div>
</div>
